@charset "utf-8";

body {
    padding: 0%;
    margin: 0%;
}
.body2{
    margin-left: 3%;
}

h1{
    background-color: darkgreen;
    color: #ffffff;
    margin: 0%;
    text-align: center;
}

img{
    max-width: 600px;
}
/* .bu{
margin-left: 0%;
} */

/* .tuika{
    margin-top: 100%;
} */
