@charset "utf-8";
body{
    margin: 0%;
    padding: 0%;
}

h1 {
    background-color: darkgreen;
    color: #ffffff;
    margin: 0%;
    text-align: center;
}
.moji{
    padding-left: 3em;
}
.body{
    margin-left: 3%;
}
input{
    margin-left: 3%;
}