@charset "utf-8";
body{
    background-color: darkturquoise;
}

h1 {
    background-color: darkgreen;
    color: #ffffff;
    margin: 0%;
    text-align: center;
}

div.button{
    margin-left: 15%;
    
}

/* table th {
    padding: 10px;
}

table td {
    padding: 3px 10px;
    
} */