@charset "utf-8";

h1 {
    background-color: darkgreen;
    color: #ffffff;
    margin: 0%;
    text-align: center;
}

table {
    margin-top: 20px;
}
.images{
    height: 50px;
    width: 80%;
    
}

div td {
    font-weight: bold;
}

body {
    padding: 0%;
    margin: 0%;
}